@page "/Produto/Exibir"
@model at_test.Pages.Produto.ExibirProdutosModel
@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<hr />

<a asp-page="/Produto/AdicionarProduto" class="btn btn-primary">Adicionar</a>

<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th>Código</th>
            <th>Ilustração</th>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model.Produtos)
        {
            <tr>
                <td class="align-middle">@produto.Id</td>
                <td class="align-middle">
                    <a asp-page="DetalhesProduto" asp-route-id="@produto.Id" title="@produto.Nome">
                        <img class="img-table" src="~/images/produtos/@produto.NomeImagem" title="@produto.Nome" />
                    </a>
                </td>
                <td class="align-middle">@produto.Nome</td>
                <td class="align-middle">@produto.Descricao</td>
                <td class="align-middle">@produto.Preco</td>
                <td class="align-middle">@produto.Quantidade</td>
                <td class="align-middle col-md-3">
                    <a class="btn btn-primary" asp-page="EditarProduto" asp-route-id="@produto.Id">Editar</a>
                    <a class="btn btn-success" asp-page="DetalhesProduto" asp-route-id="@produto.Id">Detalhes</a>
                    <a class="btn btn-danger" asp-page="DeletarProduto" asp-route-id="@produto.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end fw-bolder" colspan="6">
                Total de Produtos:
            </td>
            <td class="text-end fw-bolder">@Model.Produtos.Count()</td>
        </tr>
    </tfoot>
</table>

@section ProdutoFooter
{
    <p>
        <a class="text-muted text-decoration-none hover-underline fw-bolder color-esportiva" asp-area="" asp-page="/Sobre">Sobre Nós</a>
    </p>
    <p>
        <a class="text-muted text-decoration-none hover-underline fw-bolder color-esportiva" asp-area="" asp-page="/Cliente/ExibirClientes">Clientes</a>
    </p>
}
