@page "/Cliente/Detalhes"
@model at_test.Pages.Cliente.DetalhesClienteModel
@{
}

<h1>Mais informações</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cliente.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cliente.Id)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cliente.Nome)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cliente.Nome)</dd>
        <dt class="col-sm-2">CPF</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cliente.Cpf)</dd>
        <dt class="col-sm-2">Data de Nascimento</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cliente.DataNascimento)</dd>
        <dt class="col-sm-2">Data de Cadastro</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cliente.DataCadastro)</dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-warning" asp-page="EditarCliente" asp-route-id="@Model.Cliente.Id">Editar</a>
        <a class="btn btn-primary" asp-page="ExibirClientes">Voltar</a>
    </div>
</div>
